<div class="inicioDiv">
    <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=17862632306&text=Hello, I'd like to ger information about Radian Marine's services"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>
    <div class="bgRadian">
        <img src="/assets/images/radianMarineLogo.jpg" class="img-fluid logoImageRadian" alt="David Hacher Logo"
            onclick="location.href='/inicio';" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">


        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active ch" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ch" href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Main Navigation-->
    <header>
        <!-- Intro settings -->
        <style>
            /* Default height for small devices */
            #intro {
                height: 600px;
                /* Margin to fix overlapping fixed navbar */
                /*margin-top: 58px;*/
            }

            @media (max-width: 991px) {
                #intro {
                    /* Margin to fix overlapping fixed navbar */
                    /*margin-top: 45px;*/
                }
            }
        </style>



        <!-- Background image -->
        <div id="intro" class="p-5 text-center bg-image shadow-1-strong backGroundImageYates"
            style="background-image: url('/assets/images/yateBanner.jpg');">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.423);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white px-4">
                        <h1 class="mb-3 titleFirst">Miami's first class yacht services</h1>

                        <!-- Time Counter -->
                        {{!-- <h3 id="time-counter" class="border border-light my-4 p-4">

                        </h3> --}}

                        <h4 class="titleFirst">Experts in upholstery, carpentry and detailing</h4>

                        <a class="btn btn-outline-light btn-lg m-2 " onclick="location.href='#services';" role="button"
                            rel="nofollow" target="_blank">Our services</a>
                        <a class="btn btn-outline-light btn-lg m-2" onclick="location.href='#contact';" target="_blank"
                            role="button">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>

    <div class="trabajoMarineDiv" id="services">
        <!-- Start your project here-->

        <div id="preview" class="preview">

            <div>

                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="container pt-5 procesoTrabajoDiv" data-v-271253ee="">
                        <section class="">
                            <h2 class="fw-bold mb-5 text-center text-black">Quality, in another level...</h2>
                            <hr> <br>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                                <img src="/assets/images/coverYatch.jpg" class="img-fluid" />
                                                <a href="#!">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title fontBolder text-center">Upholstery, Enclosures,
                                                    Canvas, Covers</h5>
                                                <hr>

                                                <a href="#contact" class="btn bgRadianGrey text-white">Contact</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                                <img src="/assets/images/deckYatch.jpg" class="img-fluid" />
                                                <a href="#!">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title fontBolder text-center">Detailing, washing,
                                                    cleaning & polishing</h5>
                                                <hr>

                                                <a href="#contact" class="btn bgRadianGrey text-white">Contact</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                                <img src="/assets/images/woodYatch.jpg" class="img-fluid" />
                                                <a href="#!">
                                                    <div class="mask"
                                                        style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title fontBolder text-center">Carpentry, teak wood
                                                    decks.</h5>
                                                <hr>

                                                <a href="#contact" class="btn bgRadianGrey text-white">Contact</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                
                            </div>

                        </section>
                    </section>
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;" class="divRequisitos" id="requisitosIngreso">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="">
                <style>
                    @media (min-width: 992px) {
                        #cta-img-nml-50 {
                            margin-left: 50px;
                        }
                    }
                </style>
                <div class="row gx-0">
                    <div class="col-lg-5 mb-4 mb-md-0">
                        <div class="d-flex py-md-5"> <img src="assets/images/yatchSea.jpg"
                                class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10" alt=""
                                aria-controls="#picker-editor"> </div>
                    </div>
                    <div class="col-lg-7 mb-4 mb-md-0">
                        <div class="marineBg h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center">
                            <div class="ps-lg-5">
                                <h2 class="fw-bold mb-4">It's all about how we make you feel</h2>
                                <hr>
                                <h4>Our services:</h4>
                                <hr>
                                <div class="row mb-2">
                                    <div class="col-lg-4">
                                        <p><i class="fas fa-check-circle me-2"></i><span>We take care of your boat so you can relax.</span></p>
                                    </div>

                                    <div class="col-lg-4">
                                        <p> <i class="fas fa-check-circle me-2"></i><span>Enjoy your time, we will keep everything on point.</span> </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p> <i class="fas fa-check-circle me-2"></i><span>Our expertise allows us to deliver the best quality.</span> </p>
                                    </div>
                                </div>
                                
                                <hr>
                                <h4><i class="fa-solid fa-location-dot"></i> Miami, USA
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div id="contact">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style> <!-- Background image -->
                    <div class="p-5 bg-image imageRadianContact"
                        style="background-image: url(/assets/images/yateNoche.jpg); height: 373px; background-size: cover; background-position: 50% 6%;"
                        aria-controls="#picker-editor"></div> <!-- Background image -->
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>OUR TEAM WILL REACH OUT SOON</h3> <br> <br> <br>
                            </div>
                            <div class="row mb-5 redeSocialesDiv2">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Facebook -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Twitter -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                                        href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Instagram -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;"
                                        href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Linkedin -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Name</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example2"
                                                class="form-control formInput" name="number" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Phone Number</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Interested in:</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                I accept <span><a href="/privacy">privacy policy</a></span>
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn text-white bgRadianGrey btn-block"
                                            aria-controls="#picker-editor">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>