<div class="trabajoDiv">
    <!-- Start your project here-->

    <div id="preview" class="preview">
        <div style="display: none;"></div>
        <div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                    <section class="mb-10 overflow-hidden">
                        <!-- Background image -->
                        <div class="px-4 py-5 px-md-5 text-center bg-image"
                            style="background-image: url(/assets/images/redPerfume.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                            aria-controls="#picker-editor">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.507)">
                                <div class="container h-100">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-lg-10">
                                            <div class="text-white pb-5">
                                                <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight"> <span>Nuestro
                                                        trabajo</span> <br> <span class="">Habla por
                                                        nosotros&nbsp;</span> </h1> <a
                                                    class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                    href="/inicio" role="button" aria-controls="#picker-editor">Volver a
                                                    inicio</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=""
                            style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                            <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div> <!-- Background image -->
                    </section>
                </section>
                <!---->
            </div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5 procesoTrabajoDiv" data-v-271253ee="">
                    <section class="mb-10">
                        <h2 class="fw-bold mb-5 text-center">Nuestro proceso de reinvención</h2> <br>
                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/handsome.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Imagen corporativa</h3>
                                <hr>
                                <div class="mb-2  small" style="color: #D42930;"><span>Congruencia & calidad con la
                                        misión de
                                        tu empresa.</span> </div>
                                <p class="text-black">El objetivo principal de nuestro servicio de imagen corporativa es
                                    alinear los ideales de tu organización con la imagen que comunicas. Generarémos una
                                    coherencia visual de tu estilo con la misión y visión de tu empresa. <br>
                                    Empoderaremos tu individualidad y lo aterrizaremos en la comunicación del producto o
                                    servicio que estás ofreciendo. <br> <span>Te daremos las herramientas para crear una
                                        experiencia única con:
                                        posicionamiento, autoridad de marca y confianza.</span></p>
                                <a class="btn ch-bg  btn-dark" href="https://api.whatsapp.com/send?phone=+34622220173"
                                    target="_blank" role="button" aria-controls="#picker-editor">Contacto
                                    por whatsapp</a>
                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/pretty.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Aseroría personal</h3>
                                <hr>
                                <div class="mb-2  small" style="color: #D42930;"><span>Capturamos tu esencia & la
                                        proyectamos.</span> </div>
                                <p class="text-black">Te haremos transmitir el mensaje correcto con respecto a las áreas
                                    de tu vida personal en donde lo necesites. Nos ocupamos de entender tu esencia y la
                                    transformamos en una nueva propuesta de tu imagen social. </p>
                                <a class="btn ch-bg  btn-dark" href="https://api.whatsapp.com/send?phone=+34622220173"
                                    target="_blank" role="button" aria-controls="#picker-editor">Contacto
                                    por whatsapp</a>
                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/shopping.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Personal shopper internacional</h3>
                                <hr>
                                <div class="mb-2  small" style="color: #D42930;"><span>En cualquier parte del
                                        mundo.</span> </div>
                                <p class="text-black">Evaluaremos tu estilo y conoceremos tu esencia, de esta manera
                                    podremos seleccionar prendas que empoderen el mensaje que quieres comunicar.
                                    Recibirás las prendas en la comodidad de tu hogar, no tendrás que ir a tiendas
                                    físicas y la persona que elija tu atuendo será parte de tu equipo personal para
                                    lograr lo que buscas con tu imagen. </p>
                                <a class="btn ch-bg  btn-dark" role="button" aria-controls="#picker-editor"
                                    href="https://api.whatsapp.com/send?phone=+34622220173" target="_blank">Contacto
                                    por whatsapp</a>
                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
        </div>
    </div>
</div>