
.fonts3{
    font-family: 'Roboto', sans-serif !important; 

}
.navbar{
    background-color:  #676970 ;  
    
}
.bgRadian{
    background-color: #1c244c;
}
.preview{
    margin-top: 10%;
}
.fontBolder{
    font-weight: bolder ;
}
.bgRadianGrey{
    background-color:  #434760 !important;
}
.marineBg{
    background-color: #1c244c ;
}
.pointer {
    cursor: pointer;
}
.titleFirst{
    text-shadow: 3px 3px 4px #000000;
}
.trabajoMarineDiv{
    margin-bottom: 5%;
}
.logoImageRadian{
    max-width: 11% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.serviciosDiv{
    margin-top: -7%;
}
.valueProposition{
    margin-top: -3%;
}
.spaceDivSastre{
    height: 20rem;
    background-image: url("/assets/images/sastre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 59%
}
.procesoTrabajoDiv{
    margin-top: -6.9% !important;
}
.overlaySastre{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    padding-top: 7%;
}
.ch{
    color: white !important;
}
.ch:hover{
    color:   #878aac   !important;
}
/* .ch-bg:hover{
    background-color: #D42930 !important;
} */
@media(min-width:992px){
    .res-Black{
        color: white !important;
    }
    .cascading-right {
        margin-right: -50px;
    }

    .rotate-lg-6 {
        transform: rotate(6deg);
    }
    .davidHacherStory{
        margin-bottom: 7%;
    }
    .redeSocialesDiv{
        display: none !important;
    }
    
}
@media(max-width:991px){
    .backGroundImageYates{
        background-position: 18% 50% !important;
    }
    .procesoTrabajoDiv{
        margin-top: -31% !important;
    }
    #contacto{
        margin-top: 16% !important;
    }
    .redeSocialesDiv2{
        display: none !important;
    }
    .davidHacherStory{
        margin-bottom: -35%;
    }
    .res-Black{
        color: black !important;
    }
    .logoImageRadian{
        max-width: 35% !important;
    }
    .serviciosDiv{
        margin-top: -31%;
    }
    .valueProposition{
        margin-top: -45%;
    }
    .overlaySastre{
        padding-top: 15%;
    }
    .spaceDivSastre{
        margin-top: -15%;
        height: 16rem;
    }
}